<div class="admin-panel-main">
  <div class="admin-panel-header">
    <div class="admin-panel-header__left"></div>
    <div class="admin-panel-header__right">
      <div
        class="admin-panel-header__button-field__button"
        (click)="open_close_Products()"
      >
        Products
      </div>
      <div
        class="admin-panel-header__button-field__button"
        (click)="open_close_Orders()"
      >
        Orders
      </div>
    </div>
  </div>
  <div class="admin-panel-body">
    <app-product-adder
      *ngIf="hasProductAdderOpened"
      (hasProductAdded)="productAddedEventHandler($event)"
      (hasEscapePressed)="closeProductAdder()"
    />
    <app-product-updater
      *ngIf="hasProductUpdaterOpened"
      [id]="productId"
      (hasProductAdded)="productAddedEventHandler($event)"
      (hasEscapePressed)="closeProductUpdater()"
    />
    <app-product-body
      *ngIf="hasProductsOpened && !hasOrdersOpened"
      (hasAddProductButtonClicked)="openProductAdder()"
    />
    <app-product-edit
      *ngIf="hasProductEditOpened"
      [productId]="productId"
      (hasEscapePressed)="closeProductEdit()"
    />
    <app-order-panel *ngIf="hasOrdersOpened && !hasProductsOpened" />
  </div>
</div>
<app-wall
  *ngIf="
    hasProductAdderOpened || hasProductUpdaterOpened || hasProductEditOpened
  "
  (hasWallOnClicked)="hasWallOnClickedEventAdder($event)"
/>
