<div class="admin-panel-main">
  <div class="admin-panel-header">
    <div class="admin-panel-header__left"></div>
    <div class="admin-panel-header__right">
      <div
        class="admin-panel-header__button-field__button"
        (click)="addProduct()"
      >
        Add product
      </div>
    </div>
  </div>
  <div class="admin-panel-body">
    <app-product-adder
      *ngIf="hasProductAdderOpened"
      (hasProductAdded)="productAddedEventHandler($event)"
      (hasEscapePressed)="closeProductAdder()"
    />
    <app-product-body (hasBodyClicked)="productBodyClickedEventHandler()" />
  </div>
</div>
<app-wall
  *ngIf="hasProductAdderOpened"
  (hasWallOnClicked)="hasWallOnClickedEventAdder($event)"
/>
