<div class="admin-page__content">
  <div class="admin-page__title">
    <img class="admin-page__logo" src="migroslogo.png" />
    <div class="admin-page__title__text">Sign up</div>
  </div>
  <div class="admin-page__body">
    <div class="admin-page__mail">
      <div class="admin-page__text">Username</div>
      <input class="admin-page__input" type="text" />
    </div>
    <div class="admin-page__pass">
      <div class="admin-page__text">Password</div>
      <div class="admin-page__pass_body">
        <input
          class="admin-page__pass_input"
          [type]="passwordVisible ? 'text' : 'password'"
        />
        <div class="admin-page__password_show">
          <img
            class="admin-page__password_show__button"
            src="eye.png"
            (click)="showPassword()"
          />
        </div>
      </div>
    </div>
    <div class="admin-page__forgot">Forgot Password?</div>
  </div>
  <div class="admin-page__footer">
    <div class="admin-page__button">Sign up</div>
    <div class="admin-page__button__login" (click)="setLoginPhase()">Login</div>
  </div>
</div>
