<div class="product-edit__buy-view" *ngIf="productData">
  <div class="product-edit__buy-view__head">
    <div class="product-edit__buy-view__head-left">
      <img
        #product_image_ref
        [src]="imageUrl"
        class="product-edit__buy-view__head-left__image"
        (click)="openImageUploader()"
      />
    </div>
    <div class="product-edit__buy-view__head-right">
      <div class="product-edit__buy-view__head-right-1 line-bottom">
        <div
          class="product-edit__buy-view__head-right-1__title"
          contenteditable="true"
        >
          {{ productData.productName }}
        </div>
        <div
          class="product-edit__buy-view__head-right-1__price"
          contenteditable="true"
        >
          {{ productData.productPrice }}
          <span class="product-edit__buy-view__head-right-1__currency">TL</span>
        </div>
      </div>
      <div class="product-edit__buy-view__head-right-3 line-bottom">
        <img
          class="product-edit__buy-view__head-right-3__image"
          src="moneyy.png"
        />
      </div>
      <div class="product-edit__buy-view__head-right-4 line-bottom">
        <div class="product-edit__buy-view__head-right-4__title">Adet</div>
        <div class="product-edit__buy-view__head-right-4__button">
          Sepete Ekle
        </div>
      </div>
      <div class="product-edit__buy-view__head-right-5" contenteditable="true">
        Ürünün stok, fiyat ve kampanya bilgisi, teslimatı gerçekleştirecek
        mağazanın stok, fiyat ve kampanya bilgilerine göre belirlenmektedir.
      </div>
    </div>
  </div>
  <div class="product-edit__buy-view__tail">
    <div class="product-edit__buy-view__tail-head" *ngIf="productDescriptions">
      <div
        #tabRef
        *ngFor="let item of productDescriptions; let i = index"
        (click)="changeTab(i, tabRef)"
        [attr.data-tab-ref]="i"
      >
        <div>
          <div contenteditable="true" (blur)="changeTabName($event, i)">
            {{ item.descriptionTabName }}
          </div>
          <div (click)="deleteProductTab($event, i)">
            <img src="delete.png" />
          </div>
        </div>

        <div [attr.data-line-ref]="i"></div>
      </div>
      <div
        class="product-edit__buy-view__tail-head__plus"
        (click)="createProductTab()"
      >
        <img src="plus.png" />
      </div>
    </div>
    <div
      [innerHTML]="currentProductDescriptionBody"
      class="product-edit__buy-view__tail-body"
      contenteditable="true"
      (blur)="changeTabBody($event)"
    >
      {{ this.currentProductDescriptionBody }}
    </div>
  </div>
</div>

<input
  type="file"
  name="file"
  accept="image/png"
  class="file-upload"
  #imageUploaderRef
  id="imageUploader"
  (change)="onImageSelected($event)"
/>
