<div id="product-body">
  <div id="product-body-menu">
    <button mat-button [matMenuTriggerFor]="menu">Categories</button>
    <div id="product-body-menu__category-name">{{ selectedCategoryName }}</div>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let item of categories"
        (click)="onCategorySelected(item.value)"
      >
        {{ item.name }}
      </button>
    </mat-menu>
  </div>
  <div id="product-body-content">
    <div
      *ngFor="let item of productsData"
      id="product-body-item"
      class="line-bottom"
    >
      <div id="product-body-item-data" (click)="onBodyClick(item.productId)">
        {{ item.productName }}
      </div>
      <div
        id="product-body-item-delete"
        (click)="deleteProduct(item.productId)"
      >
        <img id="product-body-item-delete__img" src="delete.png" />
      </div>
    </div>
  </div>
  <mat-paginator
    [length]="productPageLength"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15]"
    aria-label="Select page"
    (page)="pageEvent($event)"
  >
  </mat-paginator>
</div>
