<div id="cart-component-bg" (click)="closeCartComponent()"></div>
<div id="cart-component">
  <!--   <img
    class="cart-component__image"
    *ngFor="let url of imageUrls"
    src="{{ url }}"
  /> -->
  <div id="user-cart__head">
    <div *ngFor="let item of items; let i = index">
      <div class="cart-component__item">
        <div>
          <img
            class="cart-component__item-image"
            src="{{ item.productImageUrl }}"
          />
          <div class="cart-component__item-name">{{ item.productName }}</div>

          <div class="cart-component__item-price">
            {{ item.productPrice }} ₺
          </div>
          <div
            class="cart-component__item-remove"
            (click)="removeProductFromUserCart(item.productId)"
          >
            <img src="delete.png" />
          </div>
        </div>
        <div>
          <div class="cart-component__item-count">
            <div
              class="cart-component__item-count__button"
              (click)="decreaseProductCount(item.productId)"
            >
              <img [src]="item.deleteState ? 'delete.png' : 'minus.png'" />
            </div>
            <div class="cart-component__item-count__text">
              {{ item.productCount + " adet" }}
            </div>
            <div
              class="cart-component__item-count__button"
              (click)="increaseProductCount(item.productId)"
            >
              <img src="plus.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="user-cart__bottom">
    <div class="user-cart__left-field">
      <div id="user-cart__total-text">Toplam Tutar</div>
      <div id="user-cart__total-price">{{ totalPrice + " ₺" }}</div>
    </div>
    <div class="user-cart__right-field">
      <div id="user-cart__buy-button">
        {{ items.length > 0 ? "Sepeti onayla" : "Sepetiniz boş" }}
      </div>
    </div>
  </div>
</div>
