<div class="product-adder-main">
  <div
    class="product-adder-body__img"
    #addImageRef
    id="add-image"
    (click)="openImageUploader()"
    *ngIf="!imageUrl"
  >
    Add image
  </div>
  <img
    #imageRef
    id="image"
    [src]="imageUrl"
    *ngIf="imageUrl"
    (click)="openImageUploader()"
  />
  <input
    class="product-adder-body__input"
    placeholder="Product name"
    type="text"
    [(ngModel)]="productName"
  />
  <input
    class="product-adder-body__input"
    placeholder="Price"
    type="number"
    [(ngModel)]="price"
    step="0.01"
    min="0"
  />
  <input
    class="product-adder-body__input"
    placeholder="Count"
    type="number"
    [(ngModel)]="count"
    min="0"
  />
  <input
    class="product-adder-body__input"
    placeholder="Discount"
    type="number"
    [(ngModel)]="discount"
    step="0.01"
    min="0"
  />
  <input
    class="product-adder-body__input"
    placeholder="Description"
    type="text"
    [(ngModel)]="description"
  />
  <select [formControl]="categoryControl">
    <option *ngFor="let category of categories" [value]="category.value">
      {{ category.name }}
    </option>
  </select>
  <div class="product-adder-body__button-container">
    <button class="product-adder-body__button" (click)="uploadProductData()">
      {{ buttonString }}
    </button>
    <button
      class="product-adder-body__button"
      *ngIf="isUpdateMode"
      (click)="openEditor!()"
    >
      Open Editor
    </button>
  </div>
</div>

<input
  type="file"
  name="file"
  accept="image/png"
  class="file-upload"
  #imageUploaderRef
  id="imageUploader"
  (change)="onImageSelected($event)"
/>
