<div class="discover">
  <app-category-button [image]="'yilbasi.png'" [name]="'Yılbaşı'" />
  <app-category-button [image]="'meyve.png'" [name]="'Meyve, Sebze'" />
  <app-category-button
    [image]="'süt-kahvaltilik.png'"
    [name]="'Süt, Kahvaltılık'"
  />
  <app-category-button [image]="'temelgida.png'" [name]="'Temel Gıda'" />
  <app-category-button
    [image]="'haziryemek.png'"
    [name]="'Meze, Hazır Yemek, Donut'"
  />
  <app-category-button [image]="'icecek.png'" [name]="'İçecek'" />
  <app-category-button [image]="'dondurma.png'" [name]="'Dondurma'" />
  <app-category-button [image]="'atistirma.png'" [name]="'Atistirmalik'" />
  <app-category-button [image]="'firin.png'" [name]="'Fırın, Pastane'" />
  <app-category-button [image]="'temizlik.png'" [name]="'Deterjan, Temizlik'" />
  <app-category-button
    [image]="'islakmendil.png'"
    [name]="'Kağıt, Islak Mendil'"
  />
  <app-category-button
    [image]="'Kozmetik.png'"
    [name]="'Kişisel Bakım, Kozmetik, Sağlık'"
  />
  <app-category-button [image]="'bebek.png'" [name]="'Bebek'" />
  <app-category-button [image]="'evyasam.png'" [name]="'Ev, Yaşam'" />
  <app-category-button
    [image]="'kirtasiye.png'"
    [name]="'Kitap, Kırtasiye, Oyuncak'"
  />
  <app-category-button [image]="'çiçek.png'" [name]="'Çicek'" />
  <app-category-button [image]="'petshop.png'" [name]="'Pet Shop'" />
  <app-category-button [image]="'elektronik.png'" [name]="'Elektronik'" />
</div>
