<div class="product-buy__container">
  <div class="product-buy__buy-view">
    <div class="product-buy__buy-view__head">
      <div class="product-buy__buy-view__head-left">
        <img
          #product_image_ref
          class="product-buy__buy-view__head-left__image"
        />
      </div>
      <div class="product-buy__buy-view__head-right">
        <div class="product-buy__buy-view__head-right-1 line-bottom">
          <div class="product-buy__buy-view__head-right-1__title">Test</div>
          <div class="product-buy__buy-view__head-right-1__price">
            349,95
            <span class="product-buy__buy-view__head-right-1__currency"
              >TL</span
            >
          </div>
        </div>
        <div class="product-buy__buy-view__head-right-2 line-bottom"></div>
        <div class="product-buy__buy-view__head-right-3 line-bottom">
          <img src="moneyy.png" />
        </div>
        <div class="product-buy__buy-view__head-right-4 line-bottom">
          <div class="product-buy__buy-view__head-right-4__title">Adet</div>
          <div class="product-buy__buy-view__head-right-4__button">
            Sepete Ekle
          </div>
        </div>
        <div class="product-buy__buy-view__head-right-5">
          Ürünün stok, fiyat ve kampanya bilgisi, teslimatı gerçekleştirecek
          mağazanın stok, fiyat ve kampanya bilgilerine göre belirlenmektedir.
        </div>
      </div>
    </div>
    <div class="product-buy__buy-view__tail"></div>
  </div>
</div>
