<div
  class="admin-page-main"
  [class.admin-page-main--login]="!isLoginCompleted"
  [class.admin-page-main--app]="isLoginCompleted"
>
  <div *ngIf="!isLoginCompleted" class="login-stage">
    <div class="login-stage__box">
      <app-admin-login *ngIf="!isLoginPhaseActive" class="animate-fade-in" />

      <div *ngIf="isLoginPhaseActive && !isLoginCompleted" class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Yükleniyor...</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoginCompleted" class="w-100 h-100 flex-grow-1 animate-fade-in">
    <router-outlet></router-outlet>
  </div>
</div>
