.product-preview {
  width: 180px;
  height: 340px;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.product-preview__image {
  width: 150px;
  height: 180px;
  object-fit: contain;
  cursor: pointer;
}
.product-preview__title {
  width: 150px;
  height: 60px;
  cursor: pointer;
}
.product-preview__title:hover {
  color: orange;
}

.product-preview__price {
  width: 150px;
  height: 30px;
}
.product-preview__buybutton {
  margin-top: 8px;
  width: 40px;
  height: 40px;
  background-color: orange;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.product-preview__buybutton__image {
  width: 24px;
  height: 24px;
}
