.item-preview {
    width: 180px;
    height: 340px;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.item-preview__image {
    width: 150px;
    height: 180px;
    object-fit: contain;
}
.item-preview__title {
    width: 150px;
    height: 60px;
}
.item-preview__price {
    width: 150px;
    height: 30px;
}
.item-preview__buybutton {
    width: 50px;
    height: 50px;
    background-color: gold;
    border-radius: 10px;
    cursor: pointer;
}