<div class="discover">
  <app-category-button
    [image]="'discover-items/yilbasi.png'"
    [name]="'Yılbaşı'"
  />
  <app-category-button
    [image]="'discover-items/meyve.png'"
    [name]="'Meyve, Sebze'"
  />
  <app-category-button
    [image]="'discover-items/süt-kahvaltilik.png'"
    [name]="'Süt, Kahvaltılık'"
  />
  <app-category-button
    [image]="'discover-items/temelgida.png'"
    [name]="'Temel Gıda'"
  />
  <app-category-button
    [image]="'discover-items/haziryemek.png'"
    [name]="'Meze, Hazır Yemek, Donut'"
  />
  <app-category-button
    [image]="'discover-items/icecek.png'"
    [name]="'İçecek'"
  />
  <app-category-button
    [image]="'discover-items/dondurma.png'"
    [name]="'Dondurma'"
  />
  <app-category-button
    [image]="'discover-items/atistirma.png'"
    [name]="'Atistirmalik'"
  />
  <app-category-button
    [image]="'discover-items/firin.png'"
    [name]="'Fırın, Pastane'"
  />
  <app-category-button
    [image]="'discover-items/temizlik.png'"
    [name]="'Deterjan, Temizlik'"
  />
  <app-category-button
    [image]="'discover-items/islakmendil.png'"
    [name]="'Kağıt, Islak Mendil'"
  />
  <app-category-button
    [image]="'discover-items/Kozmetik.png'"
    [name]="'Kişisel Bakım, Kozmetik, Sağlık'"
  />
  <app-category-button [image]="'discover-items/bebek.png'" [name]="'Bebek'" />
  <app-category-button
    [image]="'discover-items/evyasam.png'"
    [name]="'Ev, Yaşam'"
  />
  <app-category-button
    [image]="'discover-items/kirtasiye.png'"
    [name]="'Kitap, Kırtasiye, Oyuncak'"
  />
  <app-category-button [image]="'discover-items/çiçek.png'" [name]="'Çicek'" />
  <app-category-button
    [image]="'discover-items/petshop.png'"
    [name]="'Pet Shop'"
  />
  <app-category-button
    [image]="'discover-items/elektronik.png'"
    [name]="'Elektronik'"
    [categoryId]="1"
  />
</div>
