<div class="discover">
  <app-category-button
    [image]="'discover-items/yilbasi.png'"
    [name]="'Yılbaşı'"
    [categoryId]="1"
  />
  <app-category-button
    [image]="'discover-items/meyve.png'"
    [name]="'Meyve, Sebze'"
    [categoryId]="2"
  />
  <app-category-button
    [image]="'discover-items/süt-kahvaltilik.png'"
    [name]="'Süt, Kahvaltılık'"
    [categoryId]="3"
  />
  <app-category-button
    [image]="'discover-items/temelgida.png'"
    [name]="'Temel Gıda'"
    [categoryId]="4"
  />
  <app-category-button
    [image]="'discover-items/haziryemek.png'"
    [name]="'Meze, Hazır Yemek, Donut'"
    [categoryId]="5"
  />
  <app-category-button
    [image]="'discover-items/icecek.png'"
    [name]="'İçecek'"
    [categoryId]="6"
  />
  <app-category-button
    [image]="'discover-items/dondurma.png'"
    [name]="'Dondurma'"
    [categoryId]="7"
  />
  <app-category-button
    [image]="'discover-items/atistirma.png'"
    [name]="'Atistirmalik'"
    [categoryId]="8"
  />
  <app-category-button
    [image]="'discover-items/firin.png'"
    [name]="'Fırın, Pastane'"
    [categoryId]="9"
  />
  <app-category-button
    [image]="'discover-items/temizlik.png'"
    [name]="'Deterjan, Temizlik'"
    [categoryId]="10"
  />
  <app-category-button
    [image]="'discover-items/islakmendil.png'"
    [name]="'Kağıt, Islak Mendil'"
    [categoryId]="11"
  />
  <app-category-button
    [image]="'discover-items/Kozmetik.png'"
    [name]="'Kişisel Bakım, Kozmetik, Sağlık'"
    [categoryId]="12"
  />
  <app-category-button
    [image]="'discover-items/bebek.png'"
    [name]="'Bebek'"
    [categoryId]="13"
  />
  <app-category-button
    [image]="'discover-items/evyasam.png'"
    [name]="'Ev, Yaşam'"
    [categoryId]="14"
  />
  <app-category-button
    [image]="'discover-items/kirtasiye.png'"
    [name]="'Kitap, Kırtasiye, Oyuncak'"
    [categoryId]="15"
  />
  <app-category-button
    [image]="'discover-items/çiçek.png'"
    [name]="'Çicek'"
    [categoryId]="16"
  />
  <app-category-button
    [image]="'discover-items/petshop.png'"
    [name]="'Pet Shop'"
    [categoryId]="17"
  />
  <app-category-button
    [image]="'discover-items/elektronik.png'"
    [name]="'Elektronik'"
    [categoryId]="18"
  />
</div>
