<div class="product-page-container">
  <div class="product-page__category">
    <div class="line-bottom padding-20">
      <div>{{ categoryName }}</div>
      <div>{{ totalProductCount }} ürün</div>
    </div>
    <div class="line-bottom padding-20">
      <div id="subcategories">Alt Kategoriler</div>
      <div id="subcategory-items">
        <div *ngFor="let item of subCategories">
          {{ item.subCategoryName + " " + "(" + item.productCount + ")" }}
        </div>
      </div>
    </div>
    <div class="padding-20"></div>
  </div>
  <div #product_page_ref class="product-page padding-10">
    <div *ngIf="hasProductPreviewOpened">
      <app-product-preview
        *ngFor="let item of items"
        [productId]="item.productId"
        [productName]="item.productName"
        [productPrice]="item.productPrice"
      />
    </div>
    <app-product-page-switcher
      *ngIf="!hasProductBuyViewOpened"
      (changePageEvent)="changePage($event)"
      (changePageToFirstEvent)="changePageToFirst()"
      (changePageToLastEvent)="changePageToLast($event)"
    />
    <div class="product-buy-container" *ngIf="hasProductBuyViewOpened">
      <app-product-buy [productId]="selectedProductId" />
    </div>
  </div>
</div>
