<div class="main-page">
  <div class="header line-bottom">
    <div class="header__top">
      <!-- <img src="migros_header.png" /> -->
      <div class="header-left-area"></div>
      <div class="header-button-area">
        <div class="button_order" (click)="openOrderComponent()">
          Sipariş Takibi
        </div>
        <!-- <div class="button_login" (click)="openLoginComponent()">
          {{ loginText }}
        </div> -->
        <div *ngIf="!isUserLoggedIn()">
          <button mat-button (click)="openLoginComponent()">
            {{ loginText }}
          </button>
        </div>
        <div *ngIf="isUserLoggedIn()">
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            (click)="openLoginComponent()"
          >
            {{ loginText }}
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openCartComponent()">Sepetim</button>
            <button mat-menu-item>Profilim</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="header__line"></div>
    <div class="header__bottom">
      <img src="migros_header2.png" />
    </div>
    <div class="header__bottom-2">
      <img src="migros_header_bottom.png" />
    </div>
  </div>
  <div class="content">
    <app-discover *ngIf="!hasItemPageOpened()" />
    <app-product-page *ngIf="hasItemPageOpened()" />
  </div>
  <div class="footer">
    <div class="footer_1 line-top">
      <div class="flex center-width width-66 height-100">
        <img id="migros-footer_main" src="footer/migros-footer-main.png" />
      </div>
    </div>
    <div class="footer_2 line-top-bold">
      <div id="footer_2" class="flex center-width width-66">
        <img id="migros-footer_1" src="footer/migros-footer.png" alt="" />
        <img id="migros-footer_2" src="footer/migros-footer2.png" alt="" />
      </div>
    </div>
  </div>
  <div *ngIf="isLoginButtonClicked && !this.isUserSigned">
    <app-sign-user
      (closeComponentEvent)="closeLoginComponent()"
      (userLoginEvent)="loginUser()"
    />
  </div>
  <div *ngIf="isCartComponentOpened">
    <div id="cart-component-bg" (click)="closeCartComponent()"></div>
    <div id="cart-component"></div>
  </div>
</div>
